<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.u.s.-czech</string>
	<key>CFBundleName</key>
	<string>U.S.-Czech</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_U.S. - Czech</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.u.s.-czech.u.s.-czech</string>
		<key>TISIntendedLanguage</key>
		<string>cs</string>
	</dict>
	<key>KLInfo_U.S. - Slovak</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.u.s.-czech.u.s.-slovak</string>
		<key>TISIntendedLanguage</key>
		<string>sk</string>
	</dict>
</dict>
</plist>
